.git
.github
.gitignore
.editorconfig
.idea
.vscode
.claude
.gemini
.ai
AGENTS.md
CLAUDE.md

node_modules
vendor

.env
.env.*
!.env.example

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail/*

database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-shm
database/*.sqlite-wal

.phpunit.result.cache
tests
phpunit.xml
